zakupki-gov-data/Import_NotificationCancelsSchema.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="export">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotCancel">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="notificationNumber" type="xs:long" />
              <xs:element minOccurs="0" name="publishDate" type="xs:dateTime" />
              <xs:element minOccurs="0" name="lotOrdinalNumber" type="xs:int" />
              <xs:element minOccurs="0" name="url" type="xs:string" />
              <xs:element minOccurs="0" name="initiativeType" type="xs:string" />
              <xs:element minOccurs="0" name="authorityType" type="xs:string" />
              <xs:element minOccurs="0" name="authorityName" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>