zakupki-gov-data/Import_NotificationSchema.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:oos="http://zakupki.gov.ru/oos/types/1" xmlns:q="http://zakupki.gov.ru/oos/export/1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="notifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="notification">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="id" type="xs:long"/>
              <xs:element minOccurs="0" name="notificationNumber">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="19"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="placingWay">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="3"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="publishDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="orderName">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="2000"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="modInitiativeType">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="2"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="modAuthorityType">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="2"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="organizationRegNum">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="11"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="url">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="1024"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="commissionDate1" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="commissionDate2" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="commissionDate3" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="isCancel" type="xs:boolean"/>
              <xs:element minOccurs="0" name="lotsCount" type="xs:int"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>