zakupki-gov-data/Import_OrganizationsFromNotifSchema.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="export">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="organization">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="regNum" type="xs:long" />
              <xs:element minOccurs="0" name="fullName" type="xs:string" />
              <xs:element minOccurs="0" name="placerOrgType" type="xs:string" />
              <xs:element minOccurs="0" name="orgFactAddress" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>